﻿
.gridStyle {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.tileStyle {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


.Toastify {
    top: 0;
}

.addButtonStyle {
    margin-right: 2px; /* Adjust margin if needed */
    border-radius: 3px; /* Adjust border-radius if needed */
    background-color: rgba(0, 200, 0, 0.5);
    font-size: 20px;
    width: 50px;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.form {
    height: 100%;
    border-radius: 20%;
}

.inputContainer {
    margin-bottom: 10px;
    width: 100%;
    border-radius: 20%;
}

.inputStyle {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.popup {
    display: flex;
    flex-direction: column;
    z-index: 1;
    left: 0;
    top: 0;
    width: 60%;
    height: 60%;
    border-radius: 20%;
    background-color: rgba(0, 0, 0, 0.4);
}

.baseButton {
    position: right;
    padding: 8px 16px;
    cursor: pointer;
    border: none;
    border-radius: 20%;
    width: auto;
}

.closeButton {
    background-color: rgba(255, 0, 0, 0.3);
    font-size: 16px;
}


.submitButton {
    background-color: rgba(0, 200, 0, 0.5);
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
}

.popupInner {
    align-items: center;
    justify-content: center;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    width: 40%;
}

.h2Style {
    margin-top: 0;
}

.labelStyle {
    display: block;
    margin-bottom: 10px;
}

.disabledButton {
    background-color: #bfbfbf;
    color: #ffffff;
    cursor: not-allowed;
}
/* styles.css */
